{% extends "nazorat/base.html" %}
{% block content %}
<div class="d-flex justify-content-between" style="margin-bottom: 40px;">
    <div class="p-2">
        <div class="card" style="width: 15rem; height: 14rem;">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title text-center">Jami So'rovnomalar</h5>
                <p class="card-text text-center big-statistic-number"><a href="{% url 'all-requests'  %}?page=1">{{ all_request_count }}</a></p>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="card" style="width: 15rem; height: 14rem;">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title text-center">Ko'rib chiqilganlar</h5>
                <p class="card-text text-center big-statistic-number"><a href="{% url 'finished-requests' %}?page=1">{{ finished_request_count }}</a></p>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="card" style="width: 15rem; height: 14rem;">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title text-center">Ko'rib chiqish foizi</h5>
                <p class="card-text text-center big-statistic-number">{{ finished_percentage }}%</p>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="card" style="width: 16rem; height: 14rem;">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title text-center">Muddati buzilib javob berilganlar</h5>
                <p class="card-text text-center big-statistic-number"><a href="{% url 'late-answered-requests' %}?page=1">{{ late_responses_count }}</a></p>
            </div>
        </div>
    </div>
    <div class="p-2">
        <div class="card" style="width: 16rem; height: 14rem;">
            <div class="card-body d-flex flex-column justify-content-center">
                <h5 class="card-title text-center">Muddat </h5>
                <div class="row">
                    <div class="col ">
                        <div class="row-md-4 statistic-text">Bugun: <a href="{% url 'days-left-requests' %}?days=0&page=1">{{ zero_day_left_requests }}</a></div>
                        <div class="row-md-4 statistic-text">Ertaga: <a href="{% url 'days-left-requests' %}?days=1&page=1">{{ one_day_left_requests }}</a></div>
                        <div class="row-md-4 statistic-text">Indinga: <a href="{% url 'days-left-requests' %}?days=2&page=1">{{ two_day_left_requests }}</a></div>
                    </div>
                    <div class="col">
                        <div class="row-md-4 statistic-text">3 kun: <a href="{% url 'days-left-requests' %}?days=3&page=1">{{ three_day_left_requests }}</a></div>
                        <div class="row-md-4 statistic-text">4 kun: <a href="{% url 'days-left-requests' %}?days=4&page=1">{{ four_day_left_requests }}</a></div>
                        <div class="row-md-4 statistic-text">5 kun: <a href="{% url 'days-left-requests' %}?days=5&page=1">{{ five_day_left_requests }}</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered container">
    <thead>
        <tr>
            <th scope="col">Mahallalar</th>
            <th scope="col">Jami</th>
            <th scope="col">Ko'rib chiqilgan</th>
            <th scope="col">Korib chiqish foizi</th>
            <th scope="col">Muddati buzilgan javoblar</th>
            <th scope="col">Ko'rib chiqilmaganlar</th>
            <th scope="col">Bugun</th>
            <th scope="col">1 kun</th>
            <th scope="col">2 kun</th>
            <th scope="col">3 kun</th>
            <th scope="col">4 kun</th>
            <th scope="col">5 kun</th>
        </tr>
    </thead>
    <tbody>
        {% for stats in table_stats %}
            <tr>
                <th scope="row">{{ stats.place_name }}</th>
                <td><a href="{% url 'all-requests' %}?{% if is_tuman_scale %}mahalla_id={{stats.place_id}}{% elif is_viloyat_scale %}tuman_id={{stats.place_id}}{% endif %}&page=1">{{ stats.place_stats.all_request_count }}</a></td>
                <td><a href="{% url 'finished-requests' %}?{% if is_tuman_scale %}mahalla_id={{stats.place_id}}{% elif is_viloyat_scale %}tuman_id={{stats.place_id}}{% endif %}&page=1">{{ stats.place_stats.finished_request_count }}</a></td>
                <td>{{ stats.place_stats.finished_percentage }}%</td>
                <td><a href="{% url 'late-answered-requests' %}?{% if is_tuman_scale %}mahalla_id={{stats.place_id}}{% elif is_viloyat_scale %}tuman_id={{stats.place_id}}{% endif %}&page=1">{{ stats.place_stats.late_responses_count }}</a></td>
                <td><a href="{% url 'not-finished-requests' %}?{% if is_tuman_scale %}mahalla_id={{stats.place_id}}{% elif is_viloyat_scale %}tuman_id={{stats.place_id}}{% endif %}&page=1">{{ stats.place_stats.not_finished_request_count }}</a></td>
                <td><a href="{% url 'days-left-requests' %}?{% if is_tuman_scale %}mahalla_id={{stats.place_id}}{% elif is_viloyat_scale %}tuman_id={{stats.place_id}}{% endif %}&days=0&page=1">{{ stats.place_stats.zero_day_left_requests }}</a></td>
                <td><a href="{% url 'days-left-requests' %}?{% if is_tuman_scale %}mahalla_id={{stats.place_id}}{% elif is_viloyat_scale %}tuman_id={{stats.place_id}}{% endif %}&days=1&page=1">{{ stats.place_stats.one_day_left_requests }}</a></td>
                <td><a href="{% url 'days-left-requests' %}?{% if is_tuman_scale %}mahalla_id={{stats.place_id}}{% elif is_viloyat_scale %}tuman_id={{stats.place_id}}{% endif %}&days=2&page=1">{{ stats.place_stats.two_day_left_requests }}</a></td>
                <td><a href="{% url 'days-left-requests' %}?{% if is_tuman_scale %}mahalla_id={{stats.place_id}}{% elif is_viloyat_scale %}tuman_id={{stats.place_id}}{% endif %}&days=3&page=1">{{ stats.place_stats.three_day_left_requests }}</a></td>
                <td><a href="{% url 'days-left-requests' %}?{% if is_tuman_scale %}mahalla_id={{stats.place_id}}{% elif is_viloyat_scale %}tuman_id={{stats.place_id}}{% endif %}&days=4&page=1">{{ stats.place_stats.four_day_left_requests }}</a></td>
                <td><a href="{% url 'days-left-requests' %}?{% if is_tuman_scale %}mahalla_id={{stats.place_id}}{% elif is_viloyat_scale %}tuman_id={{stats.place_id}}{% endif %}&days=5&page=1">{{ stats.place_stats.five_day_left_requests }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}