{% extends "nazorat/base.html" %}
{% load hosts %}
{% load extra_filters %}
{% block content %}
<div class="list-group">
  <h2>{{ page_name }} {% if place_name %} - {{ place_name }} {% endif %}</h2>
    {% for request_obj in request_objects %}
      <a href="{% url 'request-detail' request_obj.pk %}" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">So'rovnoma N{{ request_obj.pk }}</h5>
          <small>{{ request_obj.created_at }}</small>
        </div>
        <p class="mb-1">{{ request.context }}</p>
        <small>Kelgan javoblar: {{ request_obj.responses.count }}</small>
      </a>
    {% endfor %}
</div>

<div class="paginator"> 
  <a class="btn btn-outline-info mb-4" href="{{ request.get_full_path|page_replacer }}page=1">Birinchisi</a>
  {% if request_objects.has_previous %}
    <a class="btn btn-outline-info mb-4" href="{{ request.get_full_path|page_replacer }}page={{ request_objects.previous_page_number }}">Oldingi</a>
  {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ request.get_full_path|page_replacer }}page=1">Oldingi</a>
  {% endif %}
  

  {% for num in request_objects.paginator.page_range %}
    {% if request_objects.number == num %}
      <a class="btn btn-info mb-4" href="{{ request.get_full_path|page_replacer }}page={{ num }}">{{ num }}</a>
    {% elif num > request_objects.number|add:'-3' and num < request_objects.number|add:'3' %}
      <a class="btn btn-outline-info mb-4" href="{{ request.get_full_path|page_replacer }}page={{ num }}">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if request_objects.has_next %}
    <a class="btn btn-outline-info mb-4" href="{{ request.get_full_path|page_replacer }}page={{ request_objects.next_page_number }}">Keyingisi</a>
  {% else %}
    <a class="btn btn-outline-info mb-4" href="{{ request.get_full_path|page_replacer }}page={{ request_objects.paginator.num_pages }}">Keyingisi</a>
  {% endif %}
  <a class="btn btn-outline-info mb-4" href="{{ request.get_full_path|page_replacer }}page={{ request_objects.paginator.num_pages }}">Oxirgisi</a>

</div>

{% endblock content %}
